html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 25%;
    background-color: rgb(238,238,224);
}

article {
    box-sizing: border-box;
    float: right;
    width: 75%;
    background-color: #faebd7;
    padding: 0 0 0 1.5em;
}
